In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("carsdata_final.csv")
df.head()

,Unnamed: 0,Brand,Model,Seating_Capacity,Body_Type,Variant_Number,Fuel_Type,Transmission,Available_Colors,On_Road_Pric,Delivery_Days,Location
0,0,Hyundai,Creta,5,SUV,1.0,Petrol,Manual,11.0,12.84,11.0,Gurgaon
1,1,Hyundai,Venue,5,SUV,1.0,Petrol,Manual,4.0,9.17,11.0,Gurgaon
2,2,Kia,Sonet,5,SUV,1.0,Petrol,Manual,7.0,9.55,11.0,Gurgaon
3,3,Kia,Syros,5,SUV,1.0,Petrol,Manual,8.0,10.66,11.0,Gurgaon
4,4,Maruti Suzuki,Baleno,5,Hatchback,1.0,Petrol,Manual,6.0,7.63,11.0,Gurgaon

In [6]:
df.Delivery_Days.isna().sum()

936